<a href="https://colab.research.google.com/github/jumbokh/class1091/blob/master/ML/notebooks/df_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
# create dummy data with unbalanced feature value distribution
X = pd.DataFrame(np.concatenate((np.random.randint(0, 3, 500), np.random.randint(0, 10, 500)),axis=0).reshape((500, 2)), columns=["text", "subreddit"])
y = pd.DataFrame(np.random.randint(0,2, 500).reshape((500, 1)), columns=["label"])

In [9]:
X.head()

   text  subreddit
0     0          0
1     0          0
2     0          2
3     1          0
4     0          2

In [10]:
y.head()

   label
0      0
1      1
2      0
3      1
4      0

In [11]:
# split stratified to target variable and subreddit col
X_train, X_test, y_train, y_test = train_test_split(
    X, pd.concat([X["subreddit"], y], axis=1), stratify=pd.concat([X["subreddit"], y], axis=1))

In [12]:
X_train.head()

     text  subreddit
151     2          0
481     2          1
174     1          0
187     0          1
41      2          0

In [13]:
# remove subreddit cols from target variable arrays
y_train = y_train.drop(["subreddit"], axis=1)
y_test = y_test.drop(["subreddit"], axis=1)

In [14]:
y_train.head()

     label
151      1
481      0
174      0
187      0
41       0